<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Krzysztof Kuta">
    <title>Cinema reservation system</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <style>
      body {
        background-color: #242333;
      }
      .img-fluid {
        max-width: 100%;
        height: auto;
      }
    </style>


  </head>
<body>

<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Cinema reservation</h4>
          <p class="text-muted">Simple quick system of booking seats in the cinema, the ability to choose a film from the current repertoire for the day, and the choice of available unreserved seats</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">My portfolio GITHUB</a></li>
            <li><a href="#" class="text-white">LinkedIn</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Cinema ABC</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

  <section class="py-3 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light text-white">Welcome to Cinema ABC</h1>
        <p class="lead text-muted">Choose a movie from our repertoire, book a seat and enjoy super fun for the whole family</p>
      </div>
    </div>
  </section>

  <div class="album">
    <div class="container">
      <div class="filterSection mb-3 text-light">

        <label for="movieFilter">Filter by movie</label>
        <select name="movieFilter" id="movieFilter" class="form-control">
          <option value="" disabled selected>Select movie</option>
          {% for movie in object_list %}
          <option name="movieFilterOption" value="{{ movie }}">{{ movie }}</option>
          {% endfor %}
        </select>
        <a href="/" class="text-light">Clear filters</a>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for movie in filter.qs %}
            <div class="col">
              <div class="card shadow-sm text-center">
                <h2>{{movie}}</h2>
                <img src="{{ movie.poster.url }}" class="img-fluid rounded" width="100%" height="100%">

                <div class="card-body">
                  <p class="card-text">{{ movie.description }}</p>
                  <small class="text-muted">Duration: {{ movie.duration }} mins</small>
                  <p></p>
                  {% if movie.dates.all.count >= 1 %}
                    {% for date in movie.dates.all|slice:":1" %}
                        <p>Upcoming screening:</p>
                        <p><a name="screening_hour" style="color: green;"  href="{% url 'seats:seat-select' date.id %}">{{ date.screening_day }} - {{ date.screening_hour }}</a></p>

                        <!-- Button trigger modal -->
                        <div class="btn-group">
                          <button type="button" data-bs-toggle="modal" data-bs-target="#screening_{{ date.id }}" class="btn btn-sm btn-outline-secondary">Show more screening dates</button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="screening_{{ date.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ movie }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                {% for date in movie.dates.all %}
                                  <p><a name="screening_hour" style="color: green;"  href="{% url 'seats:seat-select' date.id %}">{{ date.screening_day }} - {{ date.screening_hour }}</a></p>
                                {% endfor %}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                  {% else %}
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="btn-group">
                        <div class="btn-sm btn-outline-secondary">There is no screening now!</div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>


<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">2022 Cinema ABC - online reservation system.</p>
  </div>
</footer>

</body>

<script>
let movieFilter = document.getElementById('movieFilter')

movieFilter.addEventListener('change',(e)=>{
  let movieFilterVal = e.target.value
  let params = new window.URLSearchParams(window.location.search);
  params.set('title', movieFilterVal);
  let paramsURL = params.toString();
  let urlToChange = "?" + paramsURL;
  window.history.pushState({}, document.title, urlToChange );
  location.reload()
})

var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
</script>
</html>
